<div class="container">
  <div class="col-md-12 font_size_14">
    <br/>
    <div class="font_opensans font_size_25">My wish list</div><br/>
    <hr>
    <br/>
    <% @wish_lists.each do |wish| %>
        <div class="row container_profile font_size_17">
          <div class="col-md-11">
            <%= link_to image_tag(wish.book.cover, height: '70', width: '60') %>
            <%= link_to wish.book.title, wish.book, class: 'color_black font_sie_14' %> /
            <span class="color_slider_top font_weight_900">$<%= wish.book.price %></span>
          </div>
          <div class="col-md-1">
            <%= link_to raw('<i class="glyphicon glyphicon-remove font_size_28 padding_top_20"> </i><br/>'), url_for(action: :destroy, id: wish), method: :delete, data: {confirm: "Delete this books from wish list ?"} %>
          </div>
        </div>
    <% end %>
  </div>
</div>