<div class="container font_opensans">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 margin_top_20 order_progress container_profile text_align_center">
        Checkout:
      <% tutorial_progress_bar %>
    </div>
  </div>
</div>